.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

.posted-by {
    padding: 8px;
    font-weight: bold;
}

.like-button {
    color: red;
}

.like-btn, .unlike-btn {
    cursor: pointer;
}

.delete-btn {
    float: right;
    color: rgb(177, 47, 47);
    cursor: pointer;
}