.main-profile {
    max-width: 550px;
    margin: 0px auto;
}



.inner-div {
    display: flex;
    justify-content: space-around;
 
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.pic-btn {
    padding: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 108%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    width: 30%;
}