/* @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

a {
    color: black !important;
}

.main-navbar {
    padding: 0 8px;
}

.brand-logo {
    font-family: 'Passero One', cursive;
}